* {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    box-sizing: border-box;
  }
  
input {
    padding: 10px;
}

.squirtle, .charmander, .bulbasaur {
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.squirtle:hover {
    border: 3px solid #93c8d0;
}

.charmander:hover {
    border: 3px solid #fe9441;
}

.bulbasaur:hover {
    border: 3px solid #378e8e;
}

.start-reset-buttons {
    margin: 20px;
}

.player1-submit, .player2-submit {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.player1-submit:hover, .player2-submit:hover, .attack:hover {
    cursor:pointer;
}

.start, .reset {
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
}

.start:hover {
    background: green;
    color: white;
    cursor: pointer;
}

.reset:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.attack {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    min-width: 150px;
}

.water button:hover {
    background: #93c8d0;
    color: white;
}

.fire button:hover {
    background: #fe9441;
    color: white;
}

.grass button:hover {
    background: #378e8e;
    color: white;
}

.normal button:hover {
    background: darkgray;
    color: white;
}

.announcements {
    margin: 40px;
}

.attack-announcements, .hp-announcements, .battle-announcements {
    font-size: 0.75rem;
}

.attack-announcements, .battle-announcements {
    margin: 40px;
}

.hp-announcements {
    margin: 20px;
}

.player-names {
    font-size: 0.75rem;
    border: 1px solid black;
    border-radius: 6px;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
}

.name, .hp, .damage, .recover, .fainted {
    font-size: 1rem;
}

.damage {
    color: red;
}

.recover {
    color: green;
}

.submit-empty {
    font-size: 0.75rem;
    color: red;
}